@model CommerceBankApp.Models.Donor

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Donor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="donorID" />
            <div class="form-group">
                <label asp-for="billingAddress" class="control-label"></label>
                <input asp-for="billingAddress" class="form-control" />
                <span asp-validation-for="billingAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="homeAddress" class="control-label"></label>
                <input asp-for="homeAddress" class="form-control" />
                <span asp-validation-for="homeAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="accountID" class="control-label"></label>
                <select asp-for="accountID" class="form-control" asp-items="ViewBag.accountID"></select>
                <span asp-validation-for="accountID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="donorInfoID" class="control-label"></label>
                <select asp-for="donorInfoID" class="form-control" asp-items="ViewBag.donorInfoID"></select>
                <span asp-validation-for="donorInfoID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="paymentID" class="control-label"></label>
                <select asp-for="paymentID" class="form-control" asp-items="ViewBag.paymentID"></select>
                <span asp-validation-for="paymentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
