@model CommerceBankApp.Models.Organization

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Organization</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="organizationID" />
            <div class="form-group">
                <label asp-for="organizationName" class="control-label"></label>
                <input asp-for="organizationName" class="form-control" />
                <span asp-validation-for="organizationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="donationGoal" class="control-label"></label>
                <input asp-for="donationGoal" class="form-control" />
                <span asp-validation-for="donationGoal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="currentDonated" class="control-label"></label>
                <input asp-for="currentDonated" class="form-control" />
                <span asp-validation-for="currentDonated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="organizationDescription" class="control-label"></label>
                <input asp-for="organizationDescription" class="form-control" />
                <span asp-validation-for="organizationDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="donationTypeID" class="control-label"></label>
                <select asp-for="donationTypeID" class="form-control" asp-items="ViewBag.donationTypeID"></select>
                <span asp-validation-for="donationTypeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
