@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top: 6%; margin-bottom: 5%">
    <div class="col-md-6 offset-md-3">
        <div class="card login-logout-tab shadow" style="border-radius: 15px">
            <div class="card-header">
                <ul class="nav nav-tabs">
                    <li class="nav-item" style="border-radius: 15px 0 0 0;">
                        <a class="nav-link" style="border-radius: 15px 0 0 0;" href="/Identity/Account/Login">Sign In</a>
                    </li>
                    <li class="nav-item" style="border-radius: 0 15px 0 0;">
                        <a class="nav-link" style="border-radius: 0 15px 0 0;" href="/Identity/Account/Register">Sign Up</a>
                    </li>
                </ul>
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="col-md-12">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @RenderSection("Scripts", required: false)

    <script>
        $(function () {
            var current = location.pathname;
            $('.nav-tabs li a').each(function () {
                var $this = $(this);
                if (current.indexOf($this.attr('href')) !== -1) {
                    $this.addClass('active');
                }
            })
        })
    </script>
}
