@model CommerceBankApp.Models.Organization

@{
    ViewData["Title"] = "Create";
}
<br />
<h1>Create Your Own Fundraiser!</h1>
<h6>This is your opportunity to raise money for the cause that's most important to you!</h6>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrganizationName" class="control-label"></label>
                <input asp-for="OrganizationName" class="form-control" />
                <span asp-validation-for="OrganizationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonationGoal" class="control-label"></label>
                <input asp-for="DonationGoal" class="form-control" />
                <span asp-validation-for="DonationGoal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrganizationDescription" class="control-label"></label>
                <textarea asp-for="OrganizationDescription" class="form-control"></textarea>
                <span asp-validation-for="OrganizationDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="ApplicationUserId" class="control-label"></label>
                <input asp-for="ApplicationUserId" class ="form-control" value="@ViewBag.userid"></input>
            </div>
            <br />

            <button class="button-87" style="width: 94%" role="button">
                Create
            </button>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
