/*
    enable dark mode
    assign global variables
*/
:root {
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: #424242;
    --bg-color: linear-gradient(0.25turn, #D5D0E5, #ebf8e1, #F3E6E8);
    --bg-colortwo: linear-gradient(0.25turn, #F3E6E8, #ebf8e1, #D5D0E5);
    --nav-tab-color: #ebf8e1;
    --heading-color: #292922;
    --border-color: #c3c3c3;
}

/* 
    dark mode bg: #161625 
    #172231
    #131c28
*/

[data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: linear-gradient(0.25turn, #161625, #2c3e50, #131c28);
    --bg-colortwo: linear-gradient(0.25turn, #161625, #131c28, #2c3e50);
    --nav-tab-color: #161625;
    --heading-color: #818cab;
    --border-color: #303030;
}

body {
    background: var(--bg-color);
    color: var(--font-color);
    /*other styles*/
}

h1 {
    color: var(--secondary-color);
    /*other styles*/
}

a {
    color: var(--primary-color);
    /*other styles*/
}

/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
    display: flex;
    align-items: center;
}

    .theme-switch-wrapper em {
        margin-left: 10px;
        font-size: 1rem;
    }

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

    .theme-switch input {
        display: none;
    }

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

    .slider:before {
        background-color: #fff;
        bottom: 4px;
        content: "";
        height: 26px;
        left: 4px;
        position: absolute;
        transition: .4s;
        width: 26px;
    }

input:checked + .slider {
    background-color: #bbdbbe;
}

    input:checked + .slider:before {
        transform: translateX(26px);
    }

.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }



html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nax-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/*  
    background-color: #eee; 
    background: linear-gradient(0.25turn, #D5D0E5, #ebf8e1, #F3E6E8);
*/
body {
    margin-bottom: 60px;
    font-family: 'Open Sans', sans-serif;
}

header {
    background: linear-gradient(to right, #0bab64, #3bb78f);
    font-weight: 600;
}

footer {
    background: linear-gradient(to right, #0bab64, #3bb78f);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.header-shadow {
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.6);
}

div.login-logout-tab div.card-header {
    padding: 0px 0px 12px 0px;
}

div.login-logout-tab ul.nav-tabs {
    margin: 0px 0px -12px 0px;
}

div.login-logout-tab li.nav-item {
    width: 50%;
    background: var(--nav-tab-color);
}
    
    div.login-logout-tab li.nav-item .active {
        background: var(--bg-colortwo);
    }


div.login-logout-tab a.nav-link {
    font-size: 25px;
    color: #495057;
    text-align: center;
}

div.card-content {
    padding: 10px 20px;
}

div.login-form-icon {
    text-align: center;
}


/* fixed size image */
.a-image--background {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 30px;
}

.a-image {
    max-height: 100%;
    max-width: 100%;
}


/*
    #aeda86 -- lighter green
    #4FA800 -- commerce light green
    #006747 -- commerce dark green
    background: linear-gradient(to right, #0bab64, #3bb78f);
*/
.button-87 {
    margin: 10px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #4FA800;
    background-image: linear-gradient(45deg, #0bab64 0%, #3bb78f 51%, #0bab64 100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

    .button-87:hover {
        background-position: right center;
        /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
    }

    .button-87:active {
        transform: scale(0.95);
    }



.stretch-card > .card {
    width: 100%;
    min-width: 100%
}

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

@media (max-width:991.98px) {
    .padding {
        padding: 1.5rem
    }
}

@media (max-width:767.98px) {
    .padding {
        padding: 1rem
    }
}

.padding {
    padding: 3rem
}

.card {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background: var(--bg-color);
    background-clip: border-box;
    border: 1px solid var(--border-color);
    border-radius: 0
}

/*org index card*/
.row-cols-1 .col .card {
    border-radius: 20px;
}

/*org index card image*/
.card .card-img-top {
    border-radius: 20px 20px 0 0;
}

    .card .card-block {
        padding: 1.25rem;
    }
/*recent donations inherit card bg*/
.card-body .list-group li {
    background-color: inherit;
}


h6 {
    font-size: 16px !important;
}

.text-c-green {
    color: #4FA800;
}

.m-l-10 {
    margin-left: 10px;
}

.proj-progress-card {
    border-radius: 5%;
}

.proj-progress-card .progress {
    height: 6px;
    overflow: visible;
    margin-bottom: 10px;
}

    .proj-progress-card .progress .progress-bar {
        position: relative;
    }

.progress .progress-bar {
    height: 100%;
    color: inherit;
}

.proj-progress-card .progress .progress-bar:after {
    content: "";
    background: #fff;
    position: absolute;
    right: -6px;
    top: -4px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.proj-progress-card .progress .progress-bar.bg-c-green:after {
    border: 3px solid #4FA800;
}

.bg-c-green {
    background: #4FA800;
}

.m-b-30 {
    margin-bottom: 30px;
}


/*
    background: linear-gradient(to right, #0bab64, #3bb78f);
*/

/*payment info tabs on payment page*/
.tabs {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

    .tabs .tabs-list {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

        /*margin-right: 2px;*/
        .tabs .tabs-list li {
            width: 49%;
            float: left;
            margin: 0px;
            padding: 10px 5px;
            text-align: center;
            background: linear-gradient(to right, #0bab64, #3bb78f);
            border-radius: 3px;
        }

            .tabs .tabs-list li:hover {
                cursor: pointer;
            }

            .tabs .tabs-list li a {
                text-decoration: none;
                color: white;
            }

    /* Tab content section */
    .tabs .tab {
        display: none;
        width: 98%;
        min-height: 250px;
        height: auto;
        border-radius: 3px;
        padding: 20px 15px;
        background-color: #eee;
        color: darkslategray;
        clear: both;
    }

        .tabs .tab h3 {
            border-bottom: 3px solid #0bab64;
            letter-spacing: 1px;
            font-weight: normal;
            padding: 5px;
        }

        .tabs .tab p {
            line-height: 20px;
            letter-spacing: 1px;
        }

/* When active state */
.active {
    display: block !important;
}

.tabs .tabs-list li.active {
    background: #eee !important;
    color: black !important;
}


.tabs .tabs-list .active a {
    color: black !important;
}

/* media query */
@media screen and (max-width:360px) {
    .tabs {
        margin: 0;
        width: 98%;
    }

        .tabs .tabs-list li {
            width: 80px;
        }
}


/* zoom on card hover */
.col a .card {
    transition: all .15s ease-in-out;
}

    .col a .card:hover {
        transform: scale(1.05);
    }


/*linear-gradient(0.25turn, #161625, #2c3e50, #131c28);*/


/*inside card text*/
.row a {
    color: var(--secondary-color);
}

/*org details donation amount*/
.row .col h5 {
    color: var(--font-color);
}

/*org details recent donations*/
.card-body li {
    color: var(--secondary-color);
}

hr {
    color: #333333;
    height: 10px;
}